<h2>{{ product.title }}</h2>

<img src="{{ product.featured_image | img_url: '400px'}}" />

{% if section.settings.show_reviews %}
  <h4>
    reviews
  </h4>
{% endif %}


<h5>
  {{ section.settings.tax_notice }}
</h5>

{% schema %}
  {
    "name": "main text product",
    "settings": [
      {
        "id": "tax_notice",
        "type": "text",
        "label": "tax notice"
      }, {
        "id": "show_review",
        "type": "checkbox",
        "label": "show Review"
      }
    ]
  }
{% endschema %}