<h2>{{ product.title }}</h2>
<img src="{{product.featured_image | img_url: 'medium'}}" />

{%  if section.settings.show_reviews %}  
<h4>
  *****
</h4>
{% endif %}



{%  schema  %}
  {
    "name": "Section name",
    "settings": [
      {
        "id": "tax notice",
        "type": "text",
        "label": "tax notice"
      }
      {
        "id": "show_review",
        "type": "checkbox",
        "label": "display Review"
      }
    ]
  }
{% endschema %}